<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mountfox">
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="READ_MEDIA_IMAGES"
        android:maxSdkVersion="33"/>
    <uses-permission android:name="READ_MEDIA_VIDEO"
        android:maxSdkVersion="33"/>
    <uses-permission android:name="READ_MEDIA_AUDIO"
        android:maxSdkVersion="33"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_*"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="READ_PRIVILEGED_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"

        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:theme">

        <!--        tools:targetApi="34"-->

<!--        <activity-->
<!--            android:name=".DeliveryQRcode"-->
<!--            android:exported="false">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->
        <activity
            android:name=".UploadPhotoList"
            android:exported="true"></activity>
        <activity
            android:name=".cropimage.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name=".cropimage.provider.ImageSelectionProvider"
            android:authorities="${applicationId}.image-selection-provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".UploadPhoto"
            android:exported="true"/>
        <activity
            android:name=".CaptureActivityPortrait"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Delhivery_Pay.Delivery_EntryCash"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Delhivery_Pay.DeliveryOtpVerify"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Delhivery_Pay.Property"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:exported="true"
            android:required="false" />

        <activity
            android:name=".Splash"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".SplashNew"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrinterSelection"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Home"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Transaction"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ReceivePayment"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ReceiptPrint"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".CancelReceipt"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".EODReceipt"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Locate_Me"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_locate__me" />

        <service android:name=".Off_Data_Service" />

        <receiver android:name=".Delete_Db_Receive" />
        <receiver
            android:name=".Receive"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mountfox.receive" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".EditReceipt"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_edit_receipt" />
        <activity
            android:name=".EditPayment"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_edit_payment" />
        <activity
            android:name=".EditBeforeConfirmation"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Deposit_amount_edit_screen"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".ModeOfTransactionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Delivery.DeliveryListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Delivery.DeliverySubmitActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Cheque_Pickup.ChequePickupListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Cheque_Pickup.ChequePickupSubmitActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Deposits.DepositList"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Deposits.Deposit"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".CrashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
    </application>

</manifest>